## Endpoints
# <BusinessSystemName>.OnlineBankingServicesManageBusinessPartnerOut.RetrieveBusinessPartner.Endpoint=https://testserver.sap.com:12345/sap/backendservice
# <BusinessSystemName>.OnlineBankingServicesQueryBankAccountContractOverviewRetrievalOut.FindOverviewRetrievalByElements.Endpoint=https://testserver.sap.com:12345/sap/backendservice
# <BusinessSystemName>.OnlineBankingServicesManageBankAccountOut.RetrieveActivityReport_V2.Endpoint=https://testserver.sap.com:12345/sap/backendservice
# <BusinessSystemName>.OnlineBankingPaymentProcessingPaymentTransactionOrderOut.PaymentTransactionOrderFSBulkCreateRequest.Endpoint=https://testserver.sap.com:12345/sap/backendservice

## Logon Credentials
#<BusinessSystemName>.User=UserName
#<BusinessSystemName>.Password=UserPassword
