app.dest_url=ws://127.0.0.1:5001/gs-guide-websocket
ocb.syncTxn.timeout=20000
ocb.cp.absoluteMaxConnections=25
ocb.cp.maxConnections=20
ocb.cp.minConnections=5
ocb.txn.maxretry=3
app.watcherPoolSize=20

#Security
ocb.basic.user=testuser1
ocb.basic.pass=password123
#trust store location
ocb.basic.ssl=true
trust.store=classpath:keystore/ocb_connector.p12
#trust store password
trust.store.password=ocbconnector12345
