################################################################################
#
#	AIMS - SAP Omni-channel Banking common configuration.
#
################################################################################


#DATABASE Configurations
db.name=SP05
db.host=localhost
db.port=5432

db.eclipslink.databasePlatform=org.eclipse.persistence.platform.database.PostgreSQLPlatform
db.type=POSTGRESQL

#db.connection.type values DRIVER_MANAGER or DATA_SOURCE 
db.connection.type=DRIVER_MANAGER

# BANK SIM Configurations
banksim.db.maxconnections=4
banksim.db.type=POSTGRESQL
banksim.db.defaultconnections = 2

# Configuration update run interval time in seconds
configuration.update.schedule.interval.seconds=20

#DataSource Configurations
datasource.driverClassName=org.postgresql.Driver
datasource.jdbcUrl=jdbc:postgresql://127.0.0.1:5432/SP05
datasource.username=postgres
datasource.password=manager
##datasource.jndiName=jdbc/eBanking
#Set Auto Commit as false. If property not specified default value is true
datasource.autoCommit=false
datasource.maximumPoolSize=50
#Register Hikari CP beans for JMX Logging
datasource.registerMbeans=true

#Load the updates to OCB Configuration from the OCB_CONFIG table dynamically.
#This property can be set to true on Developer box to avoid server restart for configuration changes in OCB_CONFIG table.
#It is recommended to set this property to false on production env.
dynamic.configuration.update=true
